{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "debug": {
      "sourceMap": "inline",
      "retainLines": true
    }
  },
  "plugins": [[
    "auto-import", {
      "declarations": [
        { "default": "fetch", "path": "node-fetch" }
      ]
    }
  ]]
}